* {
    padding: 0;
    margin: 0;
}

body {
    font-size: 14px;
    background: #282a36 /*rgb(247, 247, 247);*/
}

header {
    line-height: 39px;
    background: rgb(237, 237, 237);
    border-bottom: hsl(0, 0%, 75%) solid 1px;
    text-align: center;
    height: 39px;
    position: relative;
}

.logo {
    position: absolute;
    margin-left: 10px;
    background-color: #777;
    background-image:
        linear-gradient(45deg,
            transparent 45%,
            hsla(48, 20%, 90%, 1) 45%,
            hsla(48, 20%, 90%, 1) 55%,
            transparent 0);
    background-size: .05em .05em;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #444;
    font-size: 24px;
    font-weight: 800;
}

header .tab {
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 28px;
    line-height: 28px;
    margin-top: 5px;
    background: #fff;
    height: 28px;
    overflow: hidden;
}

header span {
    display: inline-block;
    font-size: 14px;
    text-align: center;
    width: 100px;
    line-height: 28px;
    cursor: pointer;
}

header span.on {
    background-color: hsl(215, 100%, 96%);
}

header .tips {
    position: absolute;
    right: 10px;
    top: 0;
    text-align: right;
    color: #aaa;
    font-size: 12px;
    text-shadow: 1px 1px 1px #fff;
}

header .contorl a {
    border: 1px solid rgba(27, 31, 35, .2);
    border-radius: .25em;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    line-height: 14px;
    padding: 4px 8px;
    position: relative;
    white-space: nowrap;
    background-color: #eff3f6;
    color: #24292e;
    text-decoration: none;
}

header .contorl a:hover {
    background-color: #e6ebf1;
    border-color: rgba(27, 31, 35, .35);
}

.preview {
    border: none;
    height: 100%;
    background: white;
    overflow-y: auto;
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
}

#preview {
    padding: 0px;
}

.editbox {
    height: 100%;
    box-sizing: border-box;
    overflow-y: auto;
}

.CodeMirror {
    height: 100%;
    background: rgb(247, 247, 247);
}

.splitter_panel .vsplitter {
    width: 1px;
    background: transparent;
    border-left: 1px solid #ccc;
    z-index: 8;
}

.splitter_panel .vsplitter:hover {
    border-left: 1px dashed gray;
}

.menu-view {
    text-align: center;
}

.menu-view a {
    text-decoration: none;
}

.menu-group {
    margin: 10px 0px;
    background: gray;
    font-weight: bold;
}

.vertical_panel {
    overflow: hidden !important;
}

html,
body {
    height: 100%;
    overflow: hidden;
}

.container {
    height: calc(100% - 39px) !important;
}
