<!--
 * @Author: your name
 * @Date: 2020-11-03 15:55:56
 * @LastEditTime: 2020-11-17 17:09:02
 * @LastEditors: your name
 * @Description: In User Settings Edit
 * @FilePath: \edit-online\examples\view\basemap\localImage.html
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./examples/libs/cesium/Widgets/widgets.css" rel="stylesheet" type="text/css">
    <script src="./examples/libs/Cesium/Cesium.js"></script>
    <script src="./examples/libs/TMEarth/TMEarth.js"></script>
    <link href="./examples/libs/TMEarth/TMEarth.css" rel="stylesheet">
</head>

<body>
    <div id="map" ref="map"></div>

    <script type="text/javascript">
        var map3d = new TMEarth.Map("map", {
            imageryProvider: new Cesium.SingleTileImageryProvider({
                url: "./examples/assets/images/world.jpg"
            })
        });
    </script>
</body>

</html>