<!--
 * @Author: ray
 * @Date: 2020-11-13 18:09:41
 * @LastEditTime: 2020-11-20 10:52:55
 * @LastEditors: Please set LastEditors
 * @Description: 模型对象
 * @FilePath: \edit-online\examples\view\geometry\model.html
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./examples/libs/cesium/Widgets/widgets.css" rel="stylesheet" type="text/css">
    <script src="./examples/libs/Cesium/Cesium.js"></script>
    <script src="./examples/libs/TMEarth/TMEarth.js"></script>
    <link href="./examples/libs/TMEarth/TMEarth.css" rel="stylesheet">
</head>

<body>
    <div id="map" ref="map" onclick="test()"></div>

    <script type="text/javascript">
        var map3d = new TMEarth.Map("map", {
        });
        // 添加模型
        var lng = 116, lat = 39;
        var entity = addEntity(map3d, './examples/assets/model/truck.glb', lng, lat, true);
        // 相机视角
        var position = new Cesium.Cartesian3.fromDegrees(lng + 0.00005, lat, 0);
        var hpr = new Cesium.HeadingPitchRange(Cesium.Math.toRadians(0), Cesium.Math.toRadians(-30), 50);
        map3d.camera.lookAt(position, hpr);
        map3d.camera.lookAtTransform(Cesium.Matrix4.IDENTITY);
        // 通过entities添加gltf
        function addEntity(map, url, lng, lat, animation) {
            var position = Cesium.Cartesian3.fromDegrees(lng, lat, 0);
            var hpr = new Cesium.HeadingPitchRoll(Cesium.Math.toRadians(180), 0, 0);
            var orientation = Cesium.Transforms.headingPitchRollQuaternion(position, hpr);
            entity = map.entities.add({
                name: url,
                position: position,
                orientation: orientation,
                model: {
                    uri: url,
                    scale: 1,
                    maximumScale: 100,
                    runAnimations: animation,
                },
                polyline: {
                    show: true,
                    positions: [],
                    material: Cesium.Color.fromCssColorString('#fc7b6c'),
                    width: 1
                },
            });
            return entity;
        }
        var times = 0;
        function test() {
            var path = [];
            var flags = times % 2;
            if (flags == 0) {
                path = [116, 39, 116.0001, 39, 116.0002, 39];
            } else if (flags == 1) {
                map3d.entities.remove(entity)
            }
            entity.polyline.positions = Cesium.Cartesian3.fromDegreesArray(path);
            times++;
        }
    </script>
</body>

</html>