<!--
 * @Author: ray
 * @Date: 2020-11-17 17:01:43
 * @LastEditTime: 2020-11-17 18:42:15
 * @LastEditors: Please set LastEditors
 * @Description: 自定义背景图
 * @FilePath: \edit-online\examples\view\scene\backgroundImage.html
-->
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="./examples/libs/cesium/Widgets/widgets.css" rel="stylesheet" type="text/css">
	<script src="./examples/libs/Cesium/Cesium.js"></script>
	<script src="./examples/libs/TMEarth/TMEarth.js"></script>
	<link href="./examples/libs/TMEarth/TMEarth.css" rel="stylesheet">
</head>

<body>
	<div id="map" ref="map"></div>

	<script type="text/javascript">
		var map3d = new TMEarth.Map("map", {
			backgroundImage: "./examples/assets/images/backGroundImage.jpg"
		});
	</script>
</body>

</html>