<!--
 * @Author: ray
 * @Date: 2020-11-19 15:56:21
 * @LastEditTime: 2020-11-19 16:13:53
 * @LastEditors: Please set LastEditors
 * @Description: 近地天空盒
 * @FilePath: \edit-online\examples\view\scene\skyboxng.html
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./examples/libs/cesium/Widgets/widgets.css" rel="stylesheet" type="text/css">
    <script src="./examples/libs/Cesium/Cesium.js"></script>
    <script src="./examples/libs/TMEarth/TMEarth.js"></script>
    <link href="./examples/libs/TMEarth/TMEarth.css" rel="stylesheet">
    <link href="./examples/css/main.css" rel="stylesheet">
</head>

<body>
    <div id="map" ref="map"></div>
    <div class="container">
        <label><input type="radio" checked name="group" value="default" onclick="showSkybox(this.value)" />默认 </label>
        <label><input type="radio" name="group" value="lantian" onclick="showSkybox(this.value)" />蓝天 </label>
        <label><input type="radio" name="group" value="qingtian" onclick="showSkybox(this.value)" />晴天 </label>
        <label><input type="radio" name="group" value="wanxia" onclick="showSkybox(this.value)" />晚霜 </label>
    </div>

    <script type="text/javascript">
        var map3d = new TMEarth.Map("map", {
            center: { target: [116.397228, 39.909605, 0.0], offset: [0, -1, 2000] }
        });
        // 切换天空盒
        function showSkybox(name) {
            var path = './examples/assets/images/skybox';
            var options = name == 'default' ? { default: true } : {
                sources: {
                    positiveX: `${path}/${name}/Right.jpg`,
                    negativeX: `${path}/${name}/Left.jpg`,
                    positiveY: `${path}/${name}/Front.jpg`,
                    negativeY: `${path}/${name}/Back.jpg`,
                    positiveZ: `${path}/${name}/Up.jpg`,
                    negativeZ: `${path}/${name}/Down.jpg`
                },
                nearGround: true,
            }
            map3d.setSkyBox(options);
        }
    </script>
</body>

</html>