<!--
 * @Author: ray
 * @Date: 2020-11-24 16:18:44
 * @LastEditTime: 2020-11-26 15:43:12
 * @LastEditors: Please set LastEditors
 * @Description: 雾效果
 * @FilePath: \edit-online\examples\view\sceneEffect\fog.html
-->
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="./examples/libs/cesium/Widgets/widgets.css" rel="stylesheet" type="text/css">
	<script src="./examples/libs/Cesium/Cesium.js"></script>
	<script src="./examples/libs/TMEarth/TMEarth.js"></script>
	<link href="./examples/libs/TMEarth/TMEarth.css" rel="stylesheet">
	<link href="./examples/css/main.css" rel="stylesheet">
</head>

<body>
	<div id="map" ref="map"></div>
	<div class="container">
		<button onclick="create()">创建</button>
		<button onclick="show()">显示</button>
		<button onclick="hide()">隐藏</button>
		<button onclick="remove()">移除</button>
	</div>

	<script type="text/javascript">
		var map3d = new TMEarth.Map("map", {
			center: { target: [116.397228, 39.909605, 0.0], offset: [0, -1, 2000] }
		});
		var fog = null;
		function create() {
			fog = fog || new TMEarth.Fog(map3d, { opacity: 0.5 });
			fog.show();
		}
		function show() {
			if (this.fog) this.fog.show();
		}
		function hide() {
			if (this.fog) this.fog.hide();
		}
		function remove() {
			if (this.fog) {
				this.fog.remove();
				this.fog = null;
			}
		}
		create();
	</script>
</body>

</html>